<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
        </button>
        <h3 id="myModalLabel"></h3>
    </div>
    <div class="modal-body">
        <form id="answer_commentform" method="post" class="form form-inline">

            <input id="parent_id" type="hidden" name="parent_id" value="">

            <p class="push-down-20">
                <label for="author">عنوان<span class="red-clr bold">*</span></label>
                <input type="text" class="input-block-level" aria-required="true"
                       tabindex="1" size="30"
                       id="answer_title" name="title" required>
            </p>

            <p class="push-down-20">
                <label for="author">متن<span class="red-clr bold">*</span></label>
                <textarea class="input-block-level" tabindex="4" rows="7" cols="70"
                          id="answer_text"
                          name="text"
                          required></textarea>
            </p>
            <p>
                <button class="btn btn-primary bold" type="button" tabindex="5" id="answer_submit">
                    پاسخ
                </button>

                <button id="close_modal" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">بستن</button>
            </p>
        </form>
    </div>
</div>